body,html{
    margin: 0;
    padding: 0;
    background-color: #ffc600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container{
  width: 100%;
  
}
.input-text{
  text-align: center;
  margin: 50px auto 0 auto;
  padding:0;
  font-size:20px;
  height: 40px;
  border: 10px solid #d7d7d7;
  width: 60%;
  display: block;
  outline: none;
}

.suggestions{
 width:55%;
 margin:auto;
 /* border: 1px solid blue; */
 padding: 0;
 position: relative;

}

.suggestions li{
  list-style: none;
  padding:20px;
  border-bottom: 1px solid #d8d8d8;
  background: white;
  transition: background 0.2s;
  margin-top:-3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

.suggestions li:nth-child(even){
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd){
  transform: perspective(100px) rotateX(-3deg) translateY(3px) ;
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions .population{
  font-size: 15px;
}

.hl{
  background: #ffc600;
}

