html{
    background: url('https://i.picsum.photos/id/881/1500/1000.jpg?blur=5&hmac=wSpZ-UlEtKsvnxXigvyNIbudlXANuQMJpe19ZvEjebw');
    background-size: cover;
}

body,html{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
    margin:auto;
}

.clock-face{
    width:10rem;
    height: 10rem;
    border:20px solid white;
    border-radius: 50%;
}

.hand{
    width:5rem;
    /* border:3px solid #5dfefe; */
    height:5px;
    color:white;
    background: white;
    position: absolute;
    top:45%;
    
    transform-origin: 100%;
    transform:rotate(90deg);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition:all 0.5s;
}

footer > p{
    color:white;
    font-size: 0.5rem;
}